:root{
    --primary: #b92b27;
    --secondary:  #005CB9;
    --dark-grey: #808080;
    --border: 1px solid rgba(0, 0, 0, 0.13);
}
/* .language__section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.language__section > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.language__section > div > h2{
    position: relative;
    left: 30px;
    top: -10px;
    font-size: 18px;
    color: var(--primary);
}
.language__section > div > p{
    position: relative;
    color: rgba(0, 0, 0, 0.527);
    left: 30px;
    top: -20px;
}
.lang__logo{
    position: absolute;
    top: 20%;
    left: -12%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.13);
}
.lang__logo img{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.8;
} */
.main__container{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 6rem;
    width: 85%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
    min-height: 100vh;
}
.main__container > div{
    margin-right: 1rem;
}
.sidebar__left, .sidebar__right{
    width: 20%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgba(255, 255, 255, 0.972);
}
.left{
 /* padding: 10px; */
}
.ask__question-btn{
    border-bottom: var(--border);
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
.ask__question-btn > button{
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--primary);
    width: 90%;
    padding: 10px 12px;
    font-weight: 700 !important;
    border-radius: 5px;
    color: #ffffff !important;
    position: relative;
    top: 5px !important;
    font-size: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.main{
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgba(255, 255, 255, 0.972);
}

/*  */
.main__header{
    position: relative;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.13); */
    width: 100%;
    padding: 10px;
    display: flex;
}
.main__header > h2{
    color: #939598;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: -32%;
    left: 7%;
}
.main__header > i{
    background-color: var(--primary);
    color: #ffffff;
    padding: 2px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* question cards */
.card{
    height: auto;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 20px 20px 0 20px;
}
.card > .info {
    color: #939598;
}
.card > .info2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25px;
}
.q__info{
    display: flex;
}
.card > .info2, .follower{
    display: flex;
    align-items: center;
}
.follower{
    position: relative;
    left: 40px;
    /* border: 1px solid red; */
}
.follow__img{
    width: 30px;
    height: 30px;
    margin-left: -20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.089) 0 0 5px;
    /* position: absolute; */
    overflow: hidden;
}
.follow__img img{
    width: 100%;
    object-fit: cover;
}
.answer__btn{
    display: flex;
    align-items: center;
}
.answer__btn i{
    background-color: rgba(0, 0, 0, 0.027);
    font-size: 20px;
    color: #005CB9;
    padding: 5px;
    border-radius: 50%;
}
.right__question-info{
    display: flex;
}
.right__question-info div{
    cursor: pointer;
}
.right__question-info > div > i{
    background-color: rgba(0, 0, 0, 0.027);
    font-size: 20px;
    color: var(--primary);
    padding: 5px;
    border-radius: 50%;
}
.vote__count{
    background-color: rgba(0, 0, 0, 0.027);
    font-size: 15px;
    color: var(--secondary);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.answer__btn > p{
    background-color: rgba(0, 0, 0, 0.027);
    font-weight: 600;
    border-radius: 5px;
    padding: 3px;
}
.card > .info2 > .answer__label{
    color:rgba(0, 0, 0, 0.746);
    font-weight: 700;
}
.headline{
    position: relative;
    top: -1rem;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.842);
}
.tagline{
    color: #939598;
    font-size: 14px;
    position: relative;
    top: -22px;
    font-weight: 500;
}