@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
:root{
    --primary: #b92b27;
    --dark-grey: #808080;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(39, 0, 0, 0.431), rgba(20, 0, 0, 0.404)), url("../../components/img/banner.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%; */
}
.nav__brand{
    width: 15rem;
    height: 100%;
    position: relative;
    left: -20px;
}
.nav__brand > img{
    width: 100%;
    position: relative;
    top: 30%;
    padding-left: 20px;
}
.right__nav{
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
}
.left__nav{
    border-left: 1px solid rgba(128, 128, 128, 0.096);
    border-right: 1px solid rgba(128, 128, 128, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.ask__btn a{
    background: var(--primary);
    padding: 8px 12px;
    font-weight: 700 !important;
    border-radius: 40px;
    color: #ffffff !important;
    position: relative;
    top: 15% !important;
    font-size: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.question{
    color: #fbfbfb !important;
    font-size: 16px !important;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background: rgba(255, 255, 255, 0.966);
    box-shadow: rgba(0, 0, 0, 0.027) 0 2px 5px;
    border-bottom: 1px solid #dadada;
    position: absolute;
    z-index: 999;
    border-radius: 5px;
}
.navbar > ul {
    display: flex;
    list-style: none;
}
.navbar > ul > li{
    margin-right: 2rem;
    color: var(--dark-grey) !important;
    height: 3.5rem !important;
    /* border: 1px solid red; */
    transition: all 0.8s;
}
.navbar > ul > li:hover{
    border-bottom: 2px solid var(--dark-grey);
}
.navbar > ul > li > a{
    position: relative;
    top: 35%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
}
.navbar > ul > li > a > i{
    color: var(--dark-grey);
    font-size: 18px;
    padding-right: 5px !important;
}
.search__box{
    width: 100%;
    height: 3rem;
    /* margin-right: 1.5rem; */
    /* top: 45%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
}
/* .search__box h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
.search__box p{
    position: relative;
    top: -5px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.753);
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
} */
.search__box button{
    background: var(--primary);
    padding: 12px 25px;
    font-weight: 700 !important;
    border-radius: 5px;
    color: #ffffffda !important;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 40px;
    top: 75% !important;
    right: 12%;
    font-size: 12px !important;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.search__icon{
    position: absolute;
    top: 25%;
    left: 3%;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-grey);
}
.search__box input{
    width: 100%;
    padding: 12px 35px ;
    outline: none;
    border-radius: 5px;
    color: var(--dark-grey);
    border: 1px solid #dadada;
}
.search__box input::placeholder{
    color: #a3a3a3;
}
.avatar{
    width: 2.5rem;
}
.avatar img{
    width: 100%;
    border-radius: 50%;
}